html, body {
  margin: 0;
  height: 100%
}

#configpanel, #menu {
  position: absolute;
  top: 0;
  font-size: 20px;
}

#menu {
  right: 0;
  margin: 1em;
}

#configpanel {
  left: 0px;
  height: 100%;
  width: 100%;
}

#configoverlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.1);
}

#subpanel {
  position: absolute;
  top:0;
  left:0;
  margin: 1em;
}

.score {
  position: absolute;
  bottom: 0px;
  font-size: 40px;
  margin: 10px;
}

#score1 {
  left: 0;
}

#score2 {
  right: 0;
}


#tout {
  display: flex;
  height: 100%;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

#tout div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gauche {
  width: 50%;
}
#droite {
  flex-grow: 1;
}

.hidden {
  display: none;
}
