html, body {
  margin: 0;
  height: 100%
}

#menu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1em;
  font-size: large;
}

#configpanel {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#configoverlay {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.1);
}

#subpanel {
  position: absolute;
  bottom:0;
  left:0;
  margin: 1em;
}

label {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
}

.score {
  position: absolute;
  font-size: 40px;
  margin: 10px;
}



#tout {
  display: flex;
  height: 100%;
}

@media screen and (orientation: landscape) {
  #tout {
    flex-direction: row;
  }
  #player1 {
    border-right: solid;
    border-width: thin;
  }
  #score1 {
    top:0;
    left: 0;
  }

  #score2 {
    top:0;
    right: 0;
  }
}

@media screen and (orientation: portrait) {
  #tout {
    flex-direction: column;
  }
  #player1 {
    border-bottom: solid;
    border-width: thin;
  }
  #score1 {
    right: 0;
    top: 0;
    transform: rotate(180deg);
  }

  #score2 {
    left: 0;
    bottom: 0;
  }
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

#tout div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#player1 {
  flex-grow: 1;
  border-color: black;
}

#player2 {
  flex-grow: 1;
}

.hidden {
  display: none;
}
